* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 10px;
}

h1 {
  color: brown;
  margin-bottom: 20px;
}

#flag-container {
  display: flex;
  width: fit-content;
}

.flag {
  display: flex;
  cursor: pointer;
  background-color: rgba(218, 165, 32, 0.1);
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.flag.incorrect {
  border: 2px solid rgb(165, 42, 42);
}

.flag.correct {
  border: 2px solid darkgreen;
}

.col:not(:first-child) .flag {
  margin-left: 15px;
}

.col .flag:not(:last-child) {
  margin-bottom: 15px;
}

.flag img {
  height: 100px;
}

#question,
#flag-container {
  margin-bottom: 20px;
}

button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  color: goldenrod;
  background-color: brown;
}
